:root {
    --primary-color: #007BFF;
    --secondary-color: #FFD700;
    --background-color: #f4f4f4;
    --text-color: #333;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0; /* Ensure no default margins affect layout */
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
}

.logo {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.hero {
    position: relative;
    text-align: center;
}

.hero-img {
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lobster', cursive;
    color: white;
}

.newsletter {
    margin: 2rem 0;
    text-align: center;
}
.image-noe{
    width: 100%;
    height: auto;
}
.images {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.history, .adventure, .contact-info, .employee-profiles {
    margin: 2rem 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--secondary-color);
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-media a {
    text-decoration: none;
}

.social-media img {
    width: 24px;
    height: 24px;
}